<app-recherche-form></app-recherche-form>

<!-- {{diagnostic}} -->

<div *ngIf="error" class="alert alert-danger alert-recherche" role="alert">
  <p *ngFor="let message of messagesErreur">{{message}}</p>
</div>

<div *ngIf="!error && submitted && offres.length === 0" class="alert alert-info alert-recherche" role="alert">
  <p>Aucune offres ne correspond</p>
</div>

<div id="offres">
  <div class="row">

    <div class="col-lg-12">
      <div class="offre" *ngFor="let offre of offres">

        <div class="row">
          <div class="col-lg-10">
            <h4><a href="#">Trajet {{offre.depart}} ---> {{offre.destination}}</a></h4>
            <p><strong>Date du trajet :</strong> {{offre.date_trajet}}</p>
            <p><strong>Posté par :</strong> {{offre.auteur}}</p>
            <p><strong>Nombre de place restante :</strong> {{offre.nombre_place_disponible}}</p>
          </div>

          <div class="col-lg-2">
            <button class="btn btn-success btn-lg btn-block btnParticiper">Participer</button>
          </div>
        </div>
      </div><!-- .offre -->
    </div>

  </div><!-- row -->

</div><!-- offres -->

<div class="row">
  <div class="col-lg-12">
    <nav aria-label="">
      <ul class="pagination pagination-lg">

        <li *ngFor="let page of nb_total_page" class="page-item">
          <button class="page-link" href="/recherche" (click)="paginationPage(page)">{{page}}</button>
        </li>

      </ul>
    </nav>
  </div>
</div>