<section id="createJourney">
    <h2>Créer son profil</h2>

    <form (ngSubmit)="createJourney()" [formGroup]="createJourneyForm" class="form" role="form" #f="ngForm" novalidate>
        <p>* : Champs obligatoires</p>

        <div class="form-group">
            <input  id="origin" name="origin" formControlName="origin"
                    placeholder="Origine*"
                    class="form-control form-control-sm"
                    type="text"
                    required>
        </div>

        <div class="form-group">
            <input  id="destination" name="destination" formControlName="destination"
                    placeholder="Destination*"
                    class="form-control form-control-sm"
                    type="test"
                    required>
        </div>

        <div class="form-group">
            <input id="seats_available" name="seats_available" formControlName="seats_available"
                   placeholder="Sièges disponibles*"
                   class="form-control form-control-sm"
                   type="number"
                   required>
        </div>

        <div class="form-group">
            <input  id="date_journey " name="date_journey" formControlName="date_journey"
                    placeholder= "JJ/MM/AAAA"
                    class="form-control form-control-sm"
                    type="date"
                    required>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="createJourneyForm.invalid" class="btn btn-primary btn-block">Créer</button>
        </div>
    </form>
</section>
