<h3>Rechercher un trajet :</h3>

<!--{{diagnostic}}-->

<div id="formulaireRecherche">
  <form  (ngSubmit)="onSubmit()" #rechercheForm="ngForm">
    <div class="row">

      <div class="col-lg-3">
        <div class="form-group">
          <label for="inputDepart">Départ :</label>
          <input [(ngModel)]="rechercheFormEnt.depart" type="text" id="inputDepart" name="depart" class="form-control" placeholder="Départ">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="inputDestination">Destination :</label>
          <input [(ngModel)]="rechercheFormEnt.destination" type="text" id="inputDestination" name="destination" class="form-control" placeholder="destination">
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-group">
          <label for="inputDate">Date :</label>
          <input [(ngModel)]="rechercheFormEnt.date_trajet" type="date" id="inputDate" name="date" class="form-control" placeholder="Départ">
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-check form-check-inline checkboxPlaceLibreBox">
          <input [(ngModel)]="rechercheFormEnt.place_libre" type="checkbox" id="inputPlaceLibre" name="placeLibre" class="form-check-input" value="Place libre">
          <label class="form-check-label" for="inputPlaceLibre">Place libre</label>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="form-group">
          <button class="btn btn-success btn-block" [disabled]="!rechercheForm.form.valid" style="margin-top:30px;">Rechercher</button>
        </div>
      </div>

    </div>
  </form>
</div><!-- #formulaireRecherche -->