<div id="newcar">

    <section id="createCar">
        <h4>Ajouter sa voiture</h4>

        <form (ngSubmit)="createCar()" [formGroup]="createCarForm" class="form" role="form" #f="ngForm" novalidate>
            <p>* : Champs obligatoires</p>

            <div class="form-group">
                <input  id="brandCreate" name="brand" formControlName="brand"
                        placeholder="Marque"
                        class="form-control form-control-sm"
                        type="number"
                        required>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="createCarForm.invalid" class="btn btn-primary btn-block">Ajouter</button>
            </div>

        </form>
    </section><hr>

</div>
